<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578512493933-ggmi4t86td4camr1rhhotqbitr9njate.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578512493933-ggmi4t86td4camr1rhhotqbitr9njate</string>
	<key>API_KEY</key>
	<string>AIzaSyCcOCbt2-N7SDmJLMAUpY8cTG7YZRg0Hxw</string>
	<key>GCM_SENDER_ID</key>
	<string>578512493933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everyson.mongri</string>
	<key>PROJECT_ID</key>
	<string>mongri-50eee</string>
	<key>STORAGE_BUCKET</key>
	<string>mongri-50eee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578512493933:ios:1f2e3a50ceb04a4bdc8e64</string>
</dict>
</plist>